{% extends "master" %}

{% block content %}
  <div class="full-page">
    <div class="app">
      <div class="header">
        <button class="btn"type="button" name="button">+</button>
      </div>
      <div class="tile-container">
        <div class="photo-tile">
        <div class="photo-frame">
          <img src="http://www.placecage.com/c/400/400" alt="">
        </div>
        <div class="photo-info">
          <p class="photo-text">This is Nick Cage. He is a psychopath. He eats garbage.</p>
        </div>
      </div>
        <div class="photo-tile">
        <div class="photo-frame">
          <img src="http://www.placecera.com/c/400/400" alt="">
        </div>
        <div class="photo-info">
          <p class="photo-text">This is Mikey Cers. He is an adult child. He only eats mac and cheese.</p>
        </div>

      </div>
</div>
</div>
</div>
{% endblock %}
