{% extends "master" %}

{% block content %}
{# <form class="new-img" action="/photos" method="POST">
  {{ csrfField }}
  <div class="add-img_container">
    <div class="input-block">
      <input class="img-url" type="text" placeholder="Image URL" value="">
      <input class="img-caption" type="textarea" placeholder="Image Caption" value="">
    </div>
    <div class="btn-block">
      <button class="cancel">CANCEL</button>
      <button class="submit"><i class="fa fa-picture-o" aria-hidden="true"></i>ADD IMAGE</button>
    </div>
  </div>
</form> #}
{% endblock %}
